# Better domain for command argument reading
public net.minecraft.resources.ResourceLocation f_135806_ # ERROR_INVALID

# Extending paletted permutations to use an extendable file for the permutation list
public net.minecraft.client.renderer.texture.atlas.SpriteSources m_260887_(Ljava/lang/String;Lcom/mojang/serialization/Codec;)Lnet/minecraft/client/renderer/texture/atlas/SpriteSourceType; # register
protected net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations <init>(Ljava/util/List;Lnet/minecraft/resources/ResourceLocation;Ljava/util/Map;)V
protected net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations f_265956_ # textures
protected net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations f_265884_ # paletteKey
protected net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations f_266003_ # permutations